.logo img {
    height: 48px;
    margin: 10 10 10 50;
    display: inline;
}

.footer a {
    font-size: small;
    text-decoration: none; 
    color: #fd5786;
}

.nav-link {
    color: #fd5786 !important;
}

.pink {
    background-color: #fd5786 !important;
    color: white !important;
}

.map {
    background-image: url("images/continents.png");
    width: 100vw;
    height: 80vh;
}

.northamerica {
    min-width: 250px;
    opacity: 90%;
    position: absolute;
    top: 10em;
    left: 10em;
}

.southamerica {
    min-width: 250px;
    opacity: 90%;
    position: absolute;
    bottom: 10em;
    left: 15em;
}

.asia {
    min-width: 250px;
    opacity: 90%;
    position: absolute;
    top: 10em;
    right: 15em;
}

.europe {
    min-width: 250px;
    opacity: 90%;
    position: absolute;
    top: 7em;
    right: 43em;
}

.africa {
    min-width: 250px;
    opacity: 90%;
    position: absolute;
    bottom: 16em;
    right: 40em;
}

.oceania {
    min-width: 250px;
    opacity: 90%;
    position: absolute;
    bottom: 10em;
    right: 12em;
}

.conventionsMap {
    min-width: 250px;
    position: absolute;
    bottom: 3em;
    left: 35%;
    color: #8d8b8b;
}